/* ./resources/css/index.css */

* {
  font-family: Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 75vw;
}

body {
  background-color: hsl(50, 100%, 80%);
}


h1 {
  color: hsl(0, 0%, 0%);
}


p,
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}
